PUBLIC_APP_URL=http://localhost:5173
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_REALTIMEKIT_APP_ID=
CLOUDFLARE_API_TOKEN=
REALTIMEKIT_CAMERA_PRESET_NAME=camera
REALTIMEKIT_DIRECTOR_PRESET_NAME=director
REALTIMEKIT_RECORDER_PRESET_NAME=recorder
